.random-container input {
    border: 2px solid teal;
}

.packman {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0px, 0px);
}

.packman-top,
.packman-bottom {
    width: 150px;
    height: 75px;
    background-color: yellow;
}

.packman-top {
    position: relative;
    transform-origin: bottom center;
    border-radius: 75px 75px 0 0;
    transform: rotate(-45deg);
    animation: pckTop 1s infinite alternate linear;
}

.packman-top::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    right: 30%;
}

.packman-bottom {
    transform-origin: top center;
    border-radius: 0 0 75px 75px;
    transform: rotate(45deg);
    animation: pckBottom 1s infinite alternate linear;
}

@keyframes pckTop {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes pckBottom {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

